#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  background-color: #563c5b;
  color: #fff;
  margin-bottom: 0;
  overflow: auto; /* Add scrollbars if the content overflows */
  padding: 1rem; /* Add some padding around the content */
}

/* Set font family and color for h3 and p in description section */
#description h3,
#description p {
  font-family: "Roboto";
  color: #fff;
  text-align: center;
  margin-top: 0;
  padding-top: 5px;
}

.plant-grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
  padding-left: 10rem;
}

@media only screen and (max-width: 768px) {
  .plant-grid {
    padding-left: 10rem;
  }
}


.plant-card {
  flex: 0 0 auto; /* Prevents plant cards from shrinking */
  display: inline-block; /* Allows plant cards to be in a row */
  background-color: #563c5b;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  max-width: 350px;
  
  
}

@media only screen and (max-width: 768px) {
  .plant-card {
    min-width: 50%; /* Make the card take up the full width on mobile screens */
    font-size: 14px; /* Decrease the font size if necessary */
  }
}

.plant-card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.garden-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.draggable-hint {
  display: block;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
  user-select: none;
  text-align: center;
  margin-bottom: 0.5rem;
}
